{% extends 'base.html' %}

{% block content %}
<section>
    <div class="p-suru--25-75">
        <div class="row--25-75">
            <div class="col">
                <h1>Design Resources</h1>
                <hr class="p-rule"/>
            </div>
        </div>
      </div>

<div class="resources-container-row">
    <div class="resources-container">
        <div class="resources-image">
            <img src="../../static/logo/Fx-Rootwire-icon-fullColour-RGB-80-whiteRoundFrameBg.png" alt="Logo Image" class="responsive-image">
        </div>
        <div class="resources-button">
            <a href="/resources/logos" class="logos-button">Logos</a>
        </div>
    </div>
        <div class="resources-container">
            <div class="resources-image">
                <img src="../../static/colours/colour_palette.png.png" alt="Colour Image" class="responsive-image">
            </div>
            <div class="resources-button">
                <a href="/resources/colours" class="logos-button">Colour Palette</a>
            </div>
        </div>
        <div class="resources-container">
            <div class="resources-image">
                <img src="../../static/logo/Fx-Rootwire-logo-fullColour-RGB-550-noborder-transparentBg.png" alt="Example Image" class="responsive-image">
            </div>
            <div class="resources-button">
                <a href="/resources/wallpapers" class="logos-button">Templates</a>
            </div>
        </div>
        <div class="resources-container">
            <div class="resources-image">
                <img src="../../static/Wallpaper/A4 background.png " alt="Wallpaper Image" class="responsive-image">
            </div>
            <div class="resources-button">
                <a href="/resources/wallpapers" class="logos-button">Wallpapers</a>
            </div>
        </div>

    </div>

      

</section>


{% endblock %}