<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="../static/style.css" >
      <title>Rootwire Design</title>
    </head>
    <body> 
      <nav class="navbar">
        <ul class="left">
          <li class="home"><a href="{{ url_for('get_index') }}">
            <img src="../static/logo/TransBg-Two-colour-full-logo-wht-text-mdpi.png">
          </a></li>
        </ul>
        <ul class="center">
          <li> <a href="">Brand</a></li>
          <li> <a href="">Font</a></li>
          <li> <a href="">Resources</a></li>
          <li> <a href="">Contribute</a></li>
        </ul>
      </nav>
      {% block content %}
      {% endblock %}
        </body>
        </html>
