<!DOCTYPE html>
<html>
    <head>
      <title>Rootwire Design</title>
      <link rel="stylesheet" href="../static/style.css" >
    </head>
    <body> 
      <nav class="navbar">
        <ul class="left">
          <li class="home"><a href="{{ url_for('get_index') }}">Rootwire Design</a></li>
        </ul>
        <ul class="right">
          <li> <a href="">Brand</a></li>
          <li> <a href="">Font</a></li>
          <li> <a href="">Resources</a></li>
          <li> <a href="">Contribute</a></li>
        </ul>
      </nav>
        </body>
        </html>
