{% extends 'base.html' %}

{% block content %}
<div class="p-suru--25-75">
    <div class="row--25-75">
        <div class="col">
            <h1>Welcome to Rootwire Design Mine</h1>
        </div>
    </div>
  </div>

  <section class="p-section">
    <div class="row">
      <hr class="p-rule"/>
      <div class="container">
        <div class="left">
            <div class="content"><h2>Our brand</h2>
                <p class="paragraph">
                    We Help Bournemouth Small Businesses <br> Minimise Cyber-Risks with Security-First IT
                <br>
                    Our brand is based on four core values: <br> trust, reliability, safety and support.
                  </p>
            </div></div>
        <div class="right"><div class="col-3 col-medium-2 p-media-container">
            <img src="../static/logo/Fx-Rootwire-icon-fullColour-RGB-300-whiteBg (1).png" alt=""></div>
        
      </div>
      <div class="bottom">
        <h3><a href="/brand" class="button">
            <img src="../static/logo/Fx-Rootwire-logo-monoColour-RGB-800-blk.png">
        </a></h3></div>

      <!-- </div>
      <div class="col-3 col-medium-2 p-media-container">
        <img src="../static/logo/Fx-Rootwire-favicon-fullColour-RGB-20-transparentBg.png" alt=""> 
        <h3><a href="/resources#logos" class="button">Logos</a></h3>
      </div>
    </div> -->
  </section>




    <!-- <h1>Our brand</h1>
    <h1> Design resources</h1>
    <h1> How to contribute</h1> -->


    <!-- in resources space -->
    <!-- <p>
        Download the official logos for all of Rootwires' products.
      </p> -->
            <!-- </div>
      <div class="col-3 col-medium-2 p-media-container">
        <img src="../static/logo/Fx-Rootwire-favicon-fullColour-RGB-20-transparentBg.png" alt=""> 
        <h3><a href="/resources#logos" class="button">Logos</a></h3>
      </div>
    </div>
{% endblock %}